.idea
QFramework.ToolKits/Assets/.qframework
QFramework.ToolKits/Assets/Plugins/Editor/JetBrains
JetBrains.meta
Editor.meta
QFramework.ToolKits/Builds
QFramework.ToolKits/Library
QFramework.ToolKits/Logs
QFramework.ToolKits/obj
QFramework.ToolKits/Temp
*.csproj
QFramework.ToolKits/AssetBundles
QFramework.ToolKits/Assets/StreamingAssets/AssetBundles
QFramework.ToolKits/Build/
QFramework.Unity2018+/Temp/
QFramework.Unity2018+/Logs/
QFramework.Unity2018+/Library/
QFramework.Unity2018+/Assets/.qframework/
