Scripting
Scripting.meta
Shaders
Shaders.meta
Tools
Tools.meta
Documents.meta
Examples.meta
Framework.meta
LICENSE.meta
QFrameworkLogSource.zip.meta
README.md.meta
bin
bin.meta
obj
obj.meta
Framework/MutiFrameworkSupport/
Framework/MutiFrameworkSupport.meta
.idea
Unity2017/Library
Unity2017/Temp
Unity2017/Assets/.qframework
Editor.meta
Unity2017/Assets/Plugins/Editor/JetBrains
JetBrains.meta
packages
PackageInfosRequestCache.json
Unity2020/Library
Unity2020/Logs
Unity2020/Temp
Unity2020/AssetBundles
Unity2020/Assets/StreamingAssets/AssetBundles
AssetBundles.meta
Unity2020/Builds
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Unity2018Test/.vs
Unity2018Test/AssetBundles
Unity2018Test/Library
Unity2018Test/Logs
Unity2020Test/.vs
Unity2020Test/AssetBundles
Unity2020Test/Builds
Unity2020Test/Library
Unity2020Test/Logs
Unity2020Test/.vsconfig
