<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Markdig" version="0.18.3" targetFramework="net35" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.0" targetFramework="net35" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net20" version="1.0.0" targetFramework="net35" developmentDependency="true" />
  <package id="Unity3D.SDK" version="2017.4.40.1" targetFramework="net35" />
  <package id="jnm2.ReferenceAssemblies.net35" version="1.0.1" targetFramework="net35" developmentDependency="true" />
</packages>